// contact us

.cont_mrg {
  margin-top: 8rem;
}
.cont_bck {
  background-color: #f5f5f5;
}
.cont_content {
  padding: 7rem;
  background-color: white;
  border-radius: 1rem;
}
.option {
  background-color: #f5f5f5;
  padding: 2.1rem !important;
  border-radius: 0.5rem;
}
.option_title {
  margin-bottom: 0.5rem !important;
}

//contact card
.cont_card {
  background-color: #f5f5f5;
  color: rgb(75, 72, 72);
  padding: 5rem;
  margin: 2rem 0rem;
  border-radius: 0.5rem;
}
.cont_input {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.3rem !important;
  width: 100%;
}

.cont_email {
  padding: 0.7rem 0rem 0.7rem 0.7rem;
}
.cont_textarea {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
}
.cont_btn {
  background-color: rgb(12, 45, 105) !important;
  border: none;
  color: #fff;
}
.cont_btn:hover {
  background-color: rgba(0, 0, 0, 0.747) !important;
  color: rgba(255, 255, 255, 0.87);
}
.cont_input:focus {
  border: 2px solid rgb(158, 140, 173);
}
.cont_icon {
  padding: 0rem 0.5rem;
}

@media only screen and (max-width: 576px) {
  .cont_content {
    padding: 3rem 2rem;
  }
  .mt {
    margin-top: 2rem;
  }
  .cont_card {
    padding: 1.5rem;
  }
  .cont_input {
    width: 100%;
  }

  .pzero {
    padding: 0;
  }
  .cont_textarea {
    width: inherit;
  }
  .pd {
    padding: 0rem 0.5rem;
  }
}
// contact us